.container {
  margin-left: 50px;
  margin-right: 50px;
}

table tbody tr td {
  padding: 5px;
}

.profile-info-table {
  padding-right: 20px;
}

.table-heading {
  color: rgb(162, 145, 97);
  font-weight: 700;
  font-size: 16px;
}
.performance-table {
  line-height: 0.9;
}
.profile-info-table .table-value,
.position-container .table-value {
  background-color: rgb(239, 239, 239);
}

.profile-info-table .avatar {
  width: 160px;
  height: 190px;
  border-radius: 0;
}

.section-wrapper {
  margin: 10px 0;
}
.acad-exp-container {
  padding-right: 20px;
}

.acad-exp-container .heading-section {
  width: 23%;
  float: left;
  padding: 20px;
}

.acad-exp-container .data-section {
  width: 77%;
  background-color: rgb(239, 239, 239);
  float: right;
  padding: 20px 30px;
  min-height: 180px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

table.performance-table tbody tr td {
  padding: 2px;
}

.level-one-color {
  background-color: rgb(243, 243, 243);
}

.level-two-color {
  background-color: rgb(217, 234, 211);
}

.level-three-color {
  background-color: rgb(182, 215, 168);
}

.level-four-color {
  background-color: rgb(106, 168, 79);
}

.perf-zero-color {
  background-color: rgb(153, 153, 153);
}

.perf-one-color {
  background-color: rgb(183, 183, 183);
}

.perf-two-color {
  background-color: rgb(255, 0, 0);
}

.perf-three-color {
  background-color: rgb(255, 153, 0);
}

.perf-four-color {
  background-color: rgb(182, 215, 168);
}

.perf-five-color {
  background-color: rgb(106, 168, 79);
}

.perf-circled-border {
  border: 2px solid black;
}

.perf-circle {
  height: 20px;
  width: 22px;
  border-radius: 50%;
  margin: auto;
}

.strength-header {
  padding: 10px;
}

.strength-body {
  background-color: rgb(239, 239, 239);
  min-height: 200px;
  padding: 10px 10px;
  margin: 0 5px 0 0;
  min-width: 270px;
}

.position-container table td {
  height: 48px;
}

.overlay li {
  margin-top: 0;
}

.overlay ul {
  list-style: disc;
}

#nestedcolumn {
  display: block;
}

#nestedcolumn > div {
  display: table-cell;
}

.column {
  float: left;
  width: 50%;
  padding-left: 20px;
  /* Should be removed. Only for demonstration */
}
#gridbox {
  text-align: center;
}